In [2]:
luty = 28

In [3]:
x=int(input())

3.4

ValueError: invalid literal for int() with base 10: '3.4'

In [7]:
x=10
print("liczba {:b}".format(x))

liczba 1010

In [14]:
x=float(input())
y=x-int(x)
z=round(y,2)
print(x, int(x), y,z)

2.345
2.345 2 0.3450000000000002 0.35

In [15]:
x=int(input())

while x>0:
    print(x)
    x-=2

6
6
4
2

In [20]:
x=float(input("podaj x>0"))
suma=0
while x>0:
    suma+=x
    #suma = suma+x
    x=float(input("podaj x>0 \n"))
print("suma: {:.3f}".format(suma))

podaj x>090
podaj x>0
92
podaj x>0
0
suma: 182.000

In [21]:
x=float(input())
iloczyn=1
while x>1 and x<10:
    iloczyn=iloczyn*x
    print("podaj x")
    x=float(input())
print(iloczyn)

3.4
podaj x
9.99
podaj x
2.3
podaj x
10
78.1218

In [5]:
for i in range(1,20,5):
    print(i)
    x=i**2+1
    #print("x: {}".format(x))

1
6
11
16

In [7]:
for j in range(5):
    print(j)

0
1
2
3
4

In [8]:
for i in range(1,4):
    for j in range(4,7):
        print(i,j)

1 4
1 5
1 6
2 4
2 5
2 6
3 4
3 5
3 6

In [9]:
for i in range(5):
    print(i)

0
1
2
3
4

In [2]:
i=4
while i>=0:
    print(i)
    i-=1

4
3
2
1
0

In [7]:
for i in range(4,-1,-1):
    print(i)

4
3
2
1
0

In [8]:
for i in range(20,-10,-5):
    print(i)

20
15
10
5
0
-5

In [20]:
napis="komputer aaasaqwZZQ"
print(napis[-4])

w

In [21]:
napis[0:3]

'kom'

In [22]:
napis[4:8]

'uter'

In [24]:
N2=napis[0:3]+napis[9:12]

In [26]:
N2*4

'komaaakomaaakomaaakomaaa'

''

In [33]:
napis[:6]

'komput'

In [34]:
napis[8:]

' aaasaqwZZQ'

In [52]:
slowo="Ala ma kota"
for z in slowo:
    print(z)

A
l
a

m
a

k
o
t
a

In [37]:
slowo.title()

'Ala Ma Kota'

In [38]:
slowo.lower()

'ala ma kota'

In [39]:
slowo.upper()

'ALA MA KOTA'

In [40]:
slowo.swapcase()

'aLA MA KOTA'

In [42]:
slowo.count("A")

1

In [43]:
slowo

'Ala ma kota'

In [58]:
t=slowo.find("m")
slowo[t:]

'ma kota'

In [54]:
slowo2=slowo.replace(" ","-")

In [55]:
slowo2

'Ala-ma-kota'

In [56]:
len(slowo) #dlugość napisu

11

In [59]:
slowo

'Ala ma kota'

In [60]:
"*".join(slowo)

'A*l*a* *m*a* *k*o*t*a'

In [62]:
slowo.join("***")

'*Ala ma kota*Ala ma kota*'

In [64]:
for j in range(len(slowo)):
    print(slowo[j])

A
l
a

m
a

k
o
t
a

In [65]:
slowo

'Ala ma kota'

In [70]:
slowo.index('kota')

7

In [ ]:
# suma 10 liczb x<100

#break

#continue